* {
  all: unset; // Unsets everything so you can style everything from scratch
}

$text: #ffffff;
$red: #DA4453;
/*(defpoll mute :interval "10s" "bash scripts/mute")*/

* {
  font-family: "AurulentSansM Nerd Font", "Symbols Nerd Font";
}

// Global Styles
.bar {
  background-color: #3a3a3a;
  color: #b0b4bc;
  padding: 5px;

}

// Styles on classes (see eww.yuck for more information)

.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.volume scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}

.volume scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 6px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}

.mute scale trough highlight {
  all: unset;
  background-color: #9DA0A7;
  color: #000000;
  border-radius: 10px;
}

.label-ram {
  font-size: large;
}

.workspaces button:hover {
  color: #FFFFFF;
  border: none;

}

.workspaces {
  color: #FFFFFF;
  border: none;
  padding: 5px;
}


.focus {
  color: #FF0000;
}

.battery, .time, .date .tray .speakers .mic .wifi {
  font-family: "AurulentSansM Nerd Font", "Symbols Nerd Font";
  color: $text;
  font-size: 10px;

}

.battery {
  .icon.critical {
    color: $red;
  }
}

.notifications-on {
  color: green;
  padding: 5px;
}

.notifications-off {
  color: red;
  padding: 5px;
}

.activate-linux {
  color: rgba(250, 250, 250, 0.5);

  &.background {
    background: none;
  }
}

.disconnected {
color: red;
}

.muted {
  color: red;
}


