/*
panelview,
.panel-arrowcontent {
    background: #ffffff !important;
    color: #afafab !important;
}
*/


/*  Title and generaly the top of the thing    */

.titlebar-buttonbox-container{ display: none } /* remove the min-max-close icons */

/* replace the icon of the "navigate up" addon */
:is(.webextension-browser-action,
    .eom-addon-button)[data-extensionid="navigateup-we@DW-dev"] .toolbarbutton-icon {
        list-style-image: url("chrome://browser/skin/back.svg");
        transform: rotate(90deg);
    }

/* hides the menu bar (I dont like when it shows up when I press alt) (I know there is another way to remove it in about:config) */
#toolbar-menubar {
display: none !important;
}

#navigator-toolbox[uc-gb-open] #toolbar-menubar {
display: block !important;
}


/*  Right click menu    */

/*Removes some stuff*/
#context-pocket,
#context-print-selection,
#context-openlinkinusercontext-menu,
#context-savelinktopocket,
#context-sep-pocket,
#context-inspect-a11y,
#context-savepage{
display: none !important;
}




